<ion-view view-title="home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/bg-index.jpg');">
            <div class="content">
                <div class="avatar" ></div>
                <h3><a class=""></a></h3>
                <h4></h4>
            </div>
        </div>
        <h4 class="content padding double-padding-x">Equipes</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.login" class="item item-avatar item-icon-right">
                <img src="img/logo_sys.png">
                <h2>do Javascript ao Ionic</h2>
                <p>desenvolvimento rest full</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.login" class="item item-avatar item-icon-right">
                <img src="img/icon-smtec.png">
                <h2>Bechmarking e sistemas operacionais</h2>
                <p>Sistemas operacionais moveis</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.login" class="item item-avatar item-icon-right">
                <img src="img/icon-smtec.png">
                <h2>Openstack Infraestruura</h2>
                <p>Openstack infraestrutura</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
